 body{
   
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }

    .col-md-6{
        margin: 150px;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        

    }
    input[type=button]
    {
        width: 100%;
        background-color: #00A0FF;
    }

    input[type=text]
    {
        width: 100%;
        font-weight: bolder;
    }